

<div id="model1" class="display_none">
   
    <h1 class="text-center">
        Aarhus (DEN)
    </h1>
    <div class="display-flex margin-top-50">
 
        <h3 class="bgcolors2">
            <sub >TOTAL</sub><sup class="rojo" id="total"></sup>
        </h3>
        <h3 class="bgcolors2">
            <sub >Club</sub><sup class="rojo">14</sup>
        </h3>
        <h3 class="bgcolors2">
            <sub >Region</sub><sup class="rojo">4</sup>
        </h3>
        <h3 class="bgcolors2">
            <sub >Département</sub><sup class="rojo">4</sup>
        </h3>
        <h3 class="bgcolors2">
            <sub >Epreuves</sub><sup class="rojo">4</sup>
        </h3>
    
    </div>

    
</div>


<style>
    .margin-top-50{
        margin-top: 60px;
    }
    #model1{
        width: 80%;
        margin: auto;
        
    }
    .rojo{
        background-color: red;
        color: white;
        font-size: 8px;
        padding: 2px;
        border-radius: 100%;
        padding: 5px;
    }
    .display-flex{
        display: flex;
        justify-content: space-around;
    }
    .bgcolors2:hover{
        cursor: pointer;
    }
</style>